<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <form action="/signup" method="post">
        <input type="text" placeholder="Email" name="email"/>
        <input type="password" placeholder="Password" name="password"/>
        <input type="text" placeholder="Business name" name="businessName"/>
        <input type="password" placeholder="confirm password" name="confirmPassword"/>
        <button>Register</button>
    </form>    
</body>
</html> 